/* index.css */

body {
    background-image: url('cc-home2.webp');
    background-size: cover;
    background-position: center;
    background-repeat: repeat;
    color: #fff; 
    text-align: left;
    padding: 40px 0px;
    font-family: 'Courier New', Courier, monospace;
}

header {
    background-color: #05b9eb;
    color: #252424;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    font-size: larger;
    font-weight: 500;
    color: #ffffff;
    text-decoration: underline;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 3px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 70%;
}

